# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
*.log.*
**/__pycache__/**

# Environment variables
.env
.env.prod
wencai-scrapy-env

# IDE files
.idea/
*.swp

# Build output
dist/
build/
